body{
    background-color:grey;
    color: white;
    font-size: 26px;
}
.qr{
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.account-text{

    text-align: center;
    background-color: blue;
    color: white;
}

.account-container{
    margin: 1px;
    padding: 0px;
    max-width: 33%;
}